[submodule "third_party/nginx"]
	path = third_party/nginx
	url = https://nginx.googlesource.com/nginx
	ignore = untracked
[submodule "third_party/nginx-tests"]
	path = third_party/nginx-tests
	url = https://nginx.googlesource.com/nginx-tests
	ignore = untracked
[submodule "third_party/service-control-client-cxx"]
	path = third_party/service-control-client-cxx
	url = https://github.com/cloudendpoints/service-control-client-cxx.git
	ignore = untracked
